# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

old/
acetylation/
cnf_atomistic/polymer_matrices/petg
cnf_atomistic/polymer_matrices/p3hb
cnf_atomistic/polymer_matrices/pp
cnf_atomistic/polymer_matrices/pla
cellulose
tcl_files
toppar
cnf_atomistic/polymer_matrices/charmm_p3hb
cnf_atomistic/polymer_matrices/charmm_pp
cnf_atomistic/polymer_matrices/charmm_petg
cnf_atomistic/polymer_matrices/pack_files/outdir/
cnf_atomistic/polymer_matrices/cnf_*
cnf_atomistic/main/pack_files/*~
cnf_atomistic/elementary_fibrils/*.pdb
cnf_atomistic/elementary_fibrils
